[Desktop Entry]
Type=Application
Icon=lab7
Name=lab7
Exec=/usr/bin/sailjail -p lab7.desktop /usr/bin/lab7
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=lab7

[X-Sailjail]
Permissions=Audio;Calendar;Camera;Contacts;Documents;Downloads;Email;Internet;Messages;Microphone;Music;Phone;Pictures;Videos
OrganizationName=ru.test
ApplicationName=lab7
